.landingpage {
  display: flex;
  height: 100vh;
}

/* #CSS FOR LEFTSIDE */
.leftside {
  position: relative;
  width: 35%;
  height: 100%;
  background-image: url("../../assets/LandingPage.jpg");
  background-size: cover;
  background-position: center;
}
.leftside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 233, 233, 0.8);
}
.leftside .content {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  width: 60%;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.leftside .content p {
  margin: 0;
  color: black;
}
.leftside .content p:nth-child(1) {
  font-weight: bolder;
  font-size: 25px;
}
.leftside .content p:nth-child(2) {
  font-size: 30px;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 900;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
/* #CSS FOR RIGHTSIDE */
.rightside {
  flex: 1;
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* border: 2px solid black; */
}
.rightside .exsisting-user {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 14px;
  gap: 5px;
  /* font-weight: 550; */
}
.btn-style {
  background: none;
  border: none;
  color: #4b38b8;
  padding: 0;
}
.rightside-container {
  display: flex;
  margin-top: 30px;
  /* border: 2px solid black; */
}

.input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.name-username-div {
  display: flex;
  gap: 40px;
}
.name-username-div .input {
  flex: 0.5;
}

.input {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.input input:disabled {
  background-color: rgba(211, 211, 211, 0.498);
  border: 1px solid lightgray;
  cursor: not-allowed;
}

.input div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.input input {
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 16px;
  width: auto;
  /* outline: none; */
  border: 1px solid gray;
}
.labels {
  font-weight: bold;
}
.accept-policy-div {
  display: flex;
  justify-content: center;
  border: none;
  gap: 2px;
}
.accept-policy-div div input {
  outline: none;
}
.accept-policy-div span {
  text-wrap: wrap;
  font-size: 14px;
}
.button {
  margin-top: 20px;
}
.button button {
  height: 40px;
  width: 200px;
  border-radius: 8px;
  /* font-size: 14px; */
  border: none;
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  letter-spacing: 0.5px;
  transition: background-color 0.3s ease;
}
.button button div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.button button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
.term-conditions {
  font-size: 12px;
  margin-top: -10px;
}

/* ERROR MESSAGES */

.error-messages {
  height: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  /* justify-content: center; */
  /* outline: 1px solid black; */
}

.error-messages p {
  margin: 0;
  color: red;
  content: "\u2022";
  margin-right: 5px;
  font-size: 13px;
}
@media only screen and (max-width: 1400px) {
  .leftside .content {
    position: absolute;
    left: 45%;
    transform: translateX(-45%);
    padding: 20px 0;
    width: auto;
  }
  .name-username-div {
    gap: 25px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1300px) {
  .leftside .content {
    position: absolute;
    left: 35%;
    transform: translateX(-35%);
    padding: 20px 0;
    width: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .leftside {
    width: 35%;
  }
  .leftside .content {
    position: absolute;
    padding: 20px 10px;
    width: auto;
  }
}
@media only screen and (max-width: 1000px) {
  .leftside .content p:nth-child(1) {
    font-weight: bolder;
    font-size: 20px;
  }
  .leftside .content p:nth-child(2) {
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 0.5px;
    white-space: nowrap;
  }
}
@media only screen and (max-width: 850px) {
  .leftside {
    display: none;
  }
  .rightside-container {
    margin-top: 15px;
    padding: 0;
    margin: 0;
  }
  .rightside {
    flex: 1;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .input input:disabled {
    background-color: rgba(211, 211, 211, 0.498);
    border: 1px solid lightgray;
    cursor: not-allowed;
  }
  .input div {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .input input {
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 16px;
    width: auto;
    border: 1px solid gray;
  }
}

@media only screen and (max-width: 500px) {
  .rightside {
    flex: 1;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .accept-policy-div {
    gap: 8px;
    padding: 0;
  }
  .accept-policy-div span {
    text-wrap: wrap;
    font-size: 12px;
  }
  .accept-policy-div div input {
    outline: none;
    height: 14px;
    margin: 0;
  }
  .input-div {
    gap: 15px;
  }
  .name-username-div {
    display: flex;
    gap: 15px;
  }
}
